<div class="grid grid-cols-1 gap-5 sm:grid-cols-3 py-8 px-5 sm:justify-items-center" >
  <app-contact-info
    icon="location_on"
    title="Dirección"
    [texts]="['Av. Color 1560', 'Cordoba, Cordoba Capital']" @fadeIn>
  </app-contact-info>

  <app-contact-info
    icon="email"
    title="Email"
    [texts]="['infodentista.com.ar', 'infotudentista.com.ar']" @fadeIn>
  </app-contact-info>

  <app-contact-info
    icon="phone"
    title="Telefones"
    [texts]="['351 7608XXX', '3541 7825XXX']" @fadeIn>
  </app-contact-info>
</div>
