<div class="grid grid-cols-1 sm:grid-cols-2 gap-5 p-5 sm:items-center">
  <img src="/images/ui/ui-4.png" alt="" class="w-full object-cover" />

  <div class="flex flex-col gap-4">
    <span class="text-blue-500 text-xs">Sobre Mi</span>
    <span class="text-3xl font-medium text-blue-950">Dra. Patricia Nieves Kiriaco</span>

    <ul class="list-disc pl-5">
      <li>
        Médica Cirujano, graduada en la Universidad Nacional de Córdoba,
        Argentina.
      </li>
      <li>Odontóloga, graduada en la Universidad de París, Francia.</li>
      <li>Docente de la Universidad Nacional de Córdoba desde el año 1975.</li>
      <li>Miembro de las siguientes Academias:</li>
    </ul>
  </div>
</div>
