<header class="w-full border-b p-5 border-zinc-300 shadow-md" @slideDown>
  <div class="flex justify-between items-center lg:max-w-4xl lg:mx-auto">
    <img src="/images/logo/logo.png" alt="Logo Dentist" />

    <div class="flex flex-col items-center gap-1">
      <h3 class="text-base uppercase">Odontologia Integral</h3>
      <p class="text-sm text-zinc-800">Salud & Estetica Dental</p>
    </div>

    <button mat-icon-button>
      <mat-icon [fontIcon]="'menu'" class="text-blue-500"></mat-icon>
    </button>
  </div>
</header>
